version: "3.9"

services:
 
  backend:
    build: ./Backend
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./Backend/.env
    networks:
      - mern

  frontend:
    build: ./Frontend
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"   
    depends_on:
      - backend
    networks:
      - mern

networks:
  mern:
    driver: bridge


